.time-tracker-list {
  max-height: calc(100vh - 50px);
  overflow-y: auto;
  margin-top: 60px;
}

.app-create-timer-form {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  margin-bottom: 10px; /* Adjust spacing as needed */
}

.app-create-timer-form:hover {
  background-color: #0056b3;
}

.create-btn {
  cursor: pointer;
  color: #fff;
  background-color: #007bff;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 40px;
  position: absolute;
  right: 20px;
  bottom: 20px;
}

.img-body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  height: 80vh; /* This ensures the container takes up the full viewport height */
  margin: 0; /* Remove default margin */
}

img {
  max-width: 100%; /* Make sure the image doesn't exceed its container's width */
  max-height: 100%; /* Make sure the image doesn't exceed its container's height */
}
